@model List<tarea.Models.viewModels.listZooView>
@{
    ViewBag.Title = "Datos Zoologicos";
}

<h2>@ViewBag.Title</h2>

<div class="row" style="text-align:right;padding:5px">
     @Html.ActionLink("Nuevo", "crearNuevo", "zoo")
</div>

<div class="row" style="text-align:right;padding:5px;">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>País</th>
                <th>Nombre</th>
                <th>Telefono</th>   
            </tr>

            @foreach (var elementos in Model)
            {
                <tr>
                    <td>@elementos.id</td>
                    <td>@elementos.pais</td>
                    <td>@elementos.nombre</td>
                    <td>@elementos.telefono</td>

                </tr>
            }

        </table>

    </div>

</div>